@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --font-family: "Rubik", italic;
  --font-family-title: "Great Vibes", normal;
  --font-family-secondary: "Prata", normal;
  --font-weight: 400;
  --content-width: 1200px;
  --text-color: rgb(255, 255, 255);
  --text-color-secondary: rgb(137, 128, 130);
  --accent-color: rgb(200, 105, 58);
  --accent-color-dark: rgb(175, 87, 43);
  --background-color: rgb(38, 30, 28);

  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}