.newsletter {
  padding: 90px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: left;
  background: var(--background-color-dark);
  color: var(--text-color);

  @media (min-width: 600px) {
    padding: 80px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }

  .newsletter__content {
    position: relative;
    z-index: 1;

    .newsletter__accent {
      font-family: var(--font-family-title);
      font-size: 1rem;
      color: var(--accent-color);
      margin-bottom: 12px;
    }

    .newsletter__heading {
      font-family: var(--font-family-secondary);
      font-size: 1.75rem;
      line-height: 1.1;
      margin-top: 30px;
    }

    .newsletter__description {
      font-size: 1rem;
      color: var(--text-color);
      line-height: 1.6;
      margin-top: 35px;
    }
  }

  .newsletter__form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 520px;
    margin-top: 30px;

    .newsletter__input {
      width: 100%;
      padding: 16px 18px;
      border: none;
      background: var(--background-color);
      color: var(--text-color);
      font-size: 16px;
      outline: none;

      &::placeholder {
        color: var(--text-color-secondary);
      }
    }
  }
}
