/* Mobile-Only */

.best-deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 24px;

  .best-deals__title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight);
    color: var(--accent-color);
    font-size: 14px;
  }

  .best-deals__subtitle {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight);
    font-size: 34px;
    line-height: 44px;
    margin-top: 20px;
  }

  .best-deals__paragraph {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }

  .best-deals__illustration,
  .best-deals__carousel-items__item__button {
    margin-top: 25px;
  }

  .best-deals__carousel {
    position: relative;
    width: 95vw;
    margin-top: 50px;
    overflow-x: hidden;

    .best-deals__carousel-items {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .best-deals__carousel-items__item {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        width: 95vw;
        max-width: 720px;
        flex-shrink: 0;

        .best-deals__carousel-items__item__image {
          width: 100%;
        }

        .best-deals__carousel-items__item__name {
          font-size: 18px;
          font-weight: var(--font-weight);
          margin-top: 8px;
        }
        .best-deals__carousel-items__item__price {
          font-size: 18px;
          margin-top: 25px;
        }
      }

      @media (min-width: 765px) {
        .best-deals__carousel-items__item {
          width: 47.5vw;
        }
      }
    }

    .best-deals__carousel__button-next,
    .best-deals__carousel__button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      text-align: center;
      background: var(--text-color);
      border: none;
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      line-height: 0;
    }
    .best-deals__carousel__button-next {
      right: 0px;
    }
    .best-deals__carousel__button-prev {
      left: 0px;
    }

    /*
    .best-deals__carousel__button-next {
      position: absolute;
      right: 25px;
    }
    .best-deals__carousel__button-prev {
      position: absolute;
      left: 25px;
    }
    */

    .best-deals__carousel__button-next__image {
      width: 12px;
      height: auto;
      display: block;
    }

    .best-deals__carousel__button-prev__image {
      transform: rotate(180deg);
      width: 12px;
      height: auto;
      display: block;
    }

    /*
    @media (min-width: 1200px) {
      .best-deals__carousel__button-next,
      .best-deals__carousel__button-prev {
        position: static;
        width: 30px;
        height: 30px;
      }
    }
    */
  }

  .best-deals__carousel-controls {
    margin-top: 10px;

    .best-deals__carousel-controls__button {
      background: var(--text-color-secondary);
      border: 0px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 5px;

      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
    }
  }
}
