@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.faq {
    padding: 5rem 0;
}

.faq__top {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 60px;
    align-items: start;
}


.faq__content {
    max-width: 600px;
    padding-right: 1rem;
}

.faq__title {
    font-size: 28px;
}

.faq__subtitle {
    font-size: 48px;
}
.faq__image {
    max-width: 420px;
    width: 100%;
}

.faq__questions {
    margin-top: 20px;
}

.faq__question {
    border-bottom: 1px solid #444;
    padding: 15px 0;
}

.faq__question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
    list-style: none;
    font-size: 22px;
}

summary::-webkit-details-marker {
    display: none;
}

.faq__question-title::after {
    content: "+";
    font-size: 20px;
}

.faq__question[open] .faq__question-title::after {
    content: "-";
} 

.faq__question-answer {
    padding: 10px 0 20px;
    line-height: 1.5;
    font-size: 16px;
    color: #898082;
}

.faq__features {
    margin-top: 80px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.faq__feature-icon {
    width:40px;
    margin-bottom: 15px;
}

.faq__feature-title {
    margin: 10px auto;
    font-size: 22px;
    font-family:'Prata', serif;
}

.faq__feature-description {
    font-size: 16px;
    color: #898082;
}

@media (max-width: 478px) {
    .faq__top {
        display: flex;
        flex-direction: column;
    }
    .faq__features {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 479px) and (max-width: 767px) {
    .faq__top {
        display: flex;
        flex-direction: column;
    }
    .faq__features {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    .faq__top {
        display: grid;
        grid-template-columns: 1fr auto;
    }
    .faq__features {
        grid-template-columns: repeat(2, 1fr);
    }
}

